body {
    font-family: "Lato", sans-serif;
    font-size: 28px;
}

section.intro {
    font-size: 15px;
    text-align: center;
    background: #f3f3f3;
    padding: 15px;
}

.numbers-to-call {
    text-align: center;
    margin-bottom: 50px;
}

.heading {
    font-size: 125%;
}

p:not(.heading){
    font-size: 150%;
}

section {
}

.insta--feed {
    height: 500px;
    overflow-y: scroll;
}

.twitter--feed {

}

.facebook--feed {

}