body {
    font-family: "Lato", sans-serif;
    font-size: 28px;
}

.numbers-to-call {
    text-align: center;
    margin-bottom: 50px;
}

.heading {
    font-size: 125%;
}

p:not(.heading){
    font-size: 150%;
}

section {
}

.twitter--feed {

}

.facebook--feed {

}