<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Accra Floods, 2015</title>
        <link rel="stylesheet" href="../static/css/grid12.css">
        <link rel="stylesheet" href="../static/css/accrafloods.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <section class="intro">
            <span>This website was created to crowdsource information on the floods in Accra during June 2015.</span>
        </section>
        <div class="numbers-to-call">
            <p class="heading">Call these numbers in any emergency.</p>
            <span><a href="tel:+233302780221">0302780221</a> | </span>
            <span><a href="tel:+233302772926">0302772926</a> | </span>
            <span><a href="tel:+233302780541">0302780541</a> | </span>
            <span><a href="tel:+233299005011">0299005011</a> | </span>
            <span><a href="tel:+233299005084">0299005084</a> | </span>
            <span><a href="tel:+233299005086">0299005086</a> | </span>
            <span><a href="tel:+233299005099">0299005099</a></span>
        </div>
        <div class="main--content">
            <div class="col-md-4 col-md-offset-2 col-sm-10 col-sm-offest-1 col-xs-10 col-xs-offest-1">
                <span>Instrgram Feed</span>
                <section class="insta--feed">                
                    <!-- SnapWidget -->
                    <script src="http://snapwidget.com/js/snapwidget.js"></script>
                    <iframe src="http://snapwidget.com/bd/?h=YWNjcmFmbG9vZHN8aW58NDIwfDF8NjB8fHllc3wyMHxub25lfG9uU3RhcnR8bm98eWVz&ve=040615" title="Instagram Feed" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
                </section>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-10 col-xs-10">
                <span>Twitter Feed</span>
                <section class="twitter--feed">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/accrafloods" data-widget-id="606512770234884097">#accrafloods Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </section>
            </div>
<!--             <div class="col-md-4">
                <span>Condolences</span>
            </div> -->
            <section class="flood--tips">
                
            </section>

            <section class="facebook--feed">
                
            </section>
        </div>
    </body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43335638-2', 'auto');
  ga('send', 'pageview');

</script>
</html>