<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=min-device-width, initial-scale=1">
        <title>Accra Floods, 2015</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="author" href="humans.txt">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <style type="text/css" media="screen">
            body {
                font-family: "Lato", sans-serif;
                font-size: 28px;
            }

            .numbers-to-call {
                text-align: center;
            }

            .heading {
                font-size: 125%;
            }

            p:not(.heading){
                font-size: 150%;
            }
        </style>
    </head>
    <body>
        <div class="numbers-to-call">
            <p class="heading">Call these numbers in any emergency.</p>
            <p><a href="tel:+233302780221">0302780221</a></p>
            <p><a href="tel:+233302772926">0302772926</a></p>
            <p><a href="tel:+233302780541">0302780541</a></p>
            <p><a href="tel:+233299005011">0299005011</a></p>
            <p><a href="tel:+233299005084">0299005084</a></p>
            <p><a href="tel:+233299005086">0299005086</a></p>
            <p><a href="tel:+233299005099">0299005099</a></p>
        </div>
    </body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43335638-2', 'auto');
  ga('send', 'pageview');

</script>
</html>